{%extends "frame.html"%} {%block content%}
<style>
    td {
        color: red;
    }
</style>
<form method="POST" action="/customize" style="margin: 0 auto; width:60%;">
    {% for field in form %} {% if field.name == "csrf_token"%}
    <td style="display: none; border:solid black;">{{ field.label }}</td>
    <td style="display: none;">{{ field }}</td>
    {% else %}
    <td style="float: left; color: red">{{ field.label }}</td>
    <td style="float: right;">{{ field }}</td>
    <br> {% endif%} {% endfor %}
    <input type="submit" value="Go">
</form>


{%endblock%}