{%extends "frame.html"%} {%block content%}

<div class="sampleContainer">
    <div class="sampleSelect">
        <a href={{url_for( 'exampleone')}}>
            <img src="../static/first.png">
        </a>
    <p>Example 1</p>
    </div>
    <div class="sampleSelect">
        <a href={{url_for( 'exampletwo')}}>
            <img src="../static/second.png">
        </a>
    <p>Example 2</p>
    </div>
    <div class="sampleSelect">
        <a href={{url_for( 'examplethree')}}>
            <img src="../static/third.png">
        </a>
    <p>Example 3</p>
    </div>
    <div class="sampleSelect">
        <a href={{url_for( 'exampleforth')}}>
            <img src="../static/forth.png">
        </a>
    <p>Example 4</p>
    </div>

    <div class="sampleSelect">
        <a href={{url_for( 'examplefifth')}}>
            <img src="../static/fifth.png">
        </a>
    <p>Example 5</p>
    </div>
    <div class="sampleSelect">
        <a href={{url_for( 'examplesixth')}}>
            <img src="../static/sixth.png">
        </a>
    <p>Example 6</p>
    </div>
</div>




{%endblock%}