{%extends "frame.html"%} {%block content%}

<div class="sampleContainer">
    <div class="sampleSelect">
        <a href={{url_for( 'exampleone')}}>
            <img src="../static/first.png">
        </a>
    </div>
    <div class="sampleSelect">
        <a href={{url_for( 'exampletwo')}}>
            <img src="../static/second.png">
        </a>
    </div>
    <div class="sampleSelect">
        <a href={{url_for( 'examplethree')}}>
            <img src="../static/third.png">
        </a>
    </div>
    <div class="sampleSelect">
        <a href={{url_for( 'exampleforth')}}>
            <img src="../static/forth.png">
        </a>
    </div>
</div>




{%endblock%}