{%extends "article.html"%} 
{%block header%} 目前这个网站的唯一内容 —— 记这段时间 {%endblock%} 
{%block sidenav%}
<ul>
    <li>
        <a href="#sec1">这个网站的诞生</a>
    </li>
    <li>
        <a href="#sec2">这段时间的意义？</a>
    </li>
    <li>
        <a href="#sec3">这个网站的诞生</a>
    </li>
</ul>
{%endblock%} {%block maintext%}
<section id="sec1">
    <h2>这个网站的诞生</h2>
    <p>
        这个网站开始动工的具体时间我是不知道的。大约来说的话就是前几天。 2018年4月20日以后，4月28号以前。做这个网站的动机现在开来有点狂 妄了:想用JavaScript做英语课的小组展示。显然，那个愿望实在是太 不切实际了。实际上过了一个星期，在各种红课考试的干扰下，我仅仅
        堪堪完成了这个用HTML+CSS做前端，flask为后端的简单网站。过程上 来说这次玩耍还是非常愉悦的。相比起C/C++的控制台，或者是用matlab 内置小函数做的动态演示，抑或是上学期期末的C++和OpenGL的演示动画
        ，CSS+HTML这对组合都更加友好，效果也更加漂亮。而这两周接触的虚拟机 让我有机会了解了一些非常基础的Linux指令，体验了一把操纵服务器的感觉。 对flask的学习让我连带学习了一些网络知识，温习了一点python基础。
    </p>
    <p>
        但是不得不说，我对这些东西的了解还是在最最浅层的部分吧。就好像皮肤最外层 的那一层纤簿的细胞一样。这些库，调用的时候是爽，但是没法让我在学C/C++那样 产生扎实的感觉。更多的像是一种空中楼阁的感觉。写这些网页，就是一种娱乐吧。 顺便产生一些对写出浏览器，制定这些语言的人的敬仰和崇拜。
    </p>
</section>
<section id="sec2">
    <h2>这段时间的意义？</h2>
    <p>
        想想这段时间的意义，硬是要找，肯定还是有的。起码我知道了这么一些东西，动手做了一些东西。说大点，也算半个vg100或者vg101了。可是毕竟这还是娱乐吧，实在算不上什么正事。紧迫的事情有很多，算起用处来刷GPA说不定都比做这个网站强点吧。
    </p>
    <p>
        但如果我一直觉得这样没什么意义的话，我或许也不会开始了吧。如果一直想着做那些最重要的事情，我也不会是我了。我本性如此，即使有事情真的很紧迫，我还是愿意听从内心的意志。所谓紧急的事情，不是我来定义的紧急。这种行为，也保持了我一部分的自由吧。
    </p>
</section>
<section id="sec3">
    <h2>这段时间的以后？</h2>
    <p>
        还是会先把这玩意放一放吧。体验了一圈，也算玩过了。以前我没有考虑过自己和这个技术栈的联系。但是现在体验下来，觉得这里也充满这乐趣。但我实在分不清这种乐趣是网络技术带给我探索未知带给我的了。说到快乐，以就算前面对控制台，我也可以感受到一些。还是先放一放吧，了解了解别的，再考虑要不要在这个领域继续。
    </p>

</section>
{%endblock%}